<html>
    <head>
        <title>Error page</title>
        <link rel="stylesheet" type="text/css" href="css/style0.css">
    </head>
    <body>
        <div class="info-box">
        {{>header}}
        <p>Click <a href="/">here</a> to get directed to home page.</p>
        </div>

        {{>footer}}
    </body>
</html>