<html>
	<head>
		<title>Help page</title>
		<link rel="icon" href="/images/weather.png">
		<link rel="stylesheet" href="css/style0.css">
	</head>
	<body>
		<div class="info-box">
		{{>header}}
		<p>This site uses mapbox and darksky APIs to extract forecast data!</p>	
		</div>
		{{>footer}}
	</body>
</html>